/*
Colour palette
#171717 , rgb(23, 23, 23)
#444444 , rgb(68, 68, 68)
#EDEDED , rgb(237, 237, 237)
#e6457f , rgb(230, 69, 127)
*/

:root {
    --blueColor: rgb(24, 186, 200);
    --greyColor: rgb(129, 129, 129);
    --bg-dark: rgb(0, 0, 0);
    --bg-darkGrey: rgb(10, 10, 10);

    --f-roboto: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-dark);
    font-family: var(--f-roboto);
}

h1, h2 {
    margin: 0;
    font-weight: 500;
}

h2 {
    font-size: 2.2rem;
    font-weight: 300;
}

p {
    margin: 0;
}

/* navbar */

nav {
    background-color: var(--blueColor);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 -1px 10px 0 black;
}

.navbar-title {
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 20px;
}

/* Main App Body*/

.appContainer {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.appWindow {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    border-radius: 25px;
}

/* Menu */

.menuContainer {
    width: 25%;
    height: 100%;
    background-color: var(--bg-dark);
    color: white;
    box-shadow: inset -1px 0 0 0 rgb(184, 184, 184);
    background-color: var(--bg-darkGrey);
}

.menuTitleBar {
    height: 15%;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 20px; */
    padding: 2vh 2vw;
    padding-top: 40px;
    border-radius: 25px 0 0 0;
}

.nameTitle {
    font-weight: 400;
    font-size: 5vh;
    color: var(--blueColor);
}

hr.menuDivider {
    width: 90%;
    height: 2px;
    margin: 0 auto;
    border-radius: 10px;
    color: rgb(184, 184, 184);
}

.menuPanel {
    height: calc(85% - 2px);
    overflow-y: scroll;
    width: 100%;
}

.noContacts {
    display: flex;
    padding: 3vh 1vw;
    margin: 0.5vh 0px;
    margin-left: 1vw;
    width: calc(100% - 2vw);
}

.noContacts {
    color: var(--greyColor);
}

.contactsContainer {
    display: flex;
    font-size: 2.2vh;
    padding: 1.3vh 1vw;
    margin: 0.5vh 0px;
    margin-left: 1vw;
    width: calc(100% - 2vw);
    border-radius: 5px;
}

.contactsContainer:hover {
    background-color: rgb(26, 26, 26);
    /* background-color: rgb(61, 61, 61); */
    cursor: pointer;
}

img.profilePic {
    width: 6vh;
    height: 6vh;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    margin-right: 0.5vw;
}

.contactNameContainer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

/* Chat section */

.chatContainer {
    float: right;
    width: 75%;
    height: 100%;
    color: white;
    border-radius: 0 25px 25px 0;
    background-color: var(--bg-dark);
}

.chatTitleContainer {
    height: 15%;
    min-height: 50px;
    background-color: var(--bg-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    padding-left: 3%;
    padding-top: 40px;
    border-radius: 0 25px 0 0;
}

.titleAndPicContainer {
    display: flex;
}

.roomname {
    color: white;
    font-size: 5vh;
    font-weight: 400;
    padding-left: 15px;
    padding-top: 2px;
}

.addToContactsBtn {
    font-size: 3vh;
    margin: auto 50px auto auto;
    border-radius: 100px;
    padding: 5px;
}

.addToContactsBtn:hover {
    color: var(--blueColor);
    cursor:pointer;
}

.chatWindow {
    height: 75%;
    overflow-y: scroll;
    padding: 2% 7%;
}

/* typing area */

.chatBox {
    width: 100%;
    height: calc(10% - 2px);
    min-height: 40px;
    padding: 1.2%;
    padding-left: 3%;
    border-radius: 0 0 25px 0;
    display: flex;
}

form {
    width: 100%;
}

#messageTypingArea {
    resize: none;
    height: 100%;
    width: 80%;
    font-size: 15px;
    padding-top: 0.5%;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 100px;
    outline: none;
    float: left;
    white-space: pre-wrap;
}

#messageTypingArea::placeholder {
    font-size: 15px;
    padding-top: 1%;
}

textarea#messageTypingArea:focus {
    box-shadow: 0 0 2px 2px var(--blueColor);
}

button.sendBtn {
    width: 16%;
    height: 100%;
    border-radius: 50px;
    padding: auto;
    border: none;
    margin-left: 2%;
    background-color: black;
    color: var(--blueColor);
    border: 1px solid white;
    transition: background-color, color 200ms cubic-bezier(0.9, 0.06, 0.13, 0.98);
}

.sendBtn:hover {
    background-color: var(--blueColor);
    color: black;
    border: none;
    transition: background-color, color 200ms cubic-bezier(0.9, 0.06, 0.13, 0.98);
}

/* messages */

.msgContainer {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
}

.sentMsgContainer {
    flex-direction: row-reverse;
}

.replyMsgContainer {
    flex-direction: row;
}

.message {
    padding: 15px 25px 5px;
    min-width: 20%;
    max-width: 60%;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

.reply {
    background-color: var(--greyColor);
    border-radius: 20px 20px 20px 0;
    float: left;
}

.sent {
    background-color: var(--blueColor);
    border-radius: 20px 0 20px 20px;
    float: right;
    flex-direction: row-reverse;
}

.receiverName {
    color: black;
    font-size: 0.8rem;
    padding-bottom: 10px;
}

.msgTime {
    text-align: right;
    font-size: 12px;
    padding-top: 2px;
}

.arrow {
    width: 0;
    height: 0;
    position: absolute;
    bottom: -10px;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
}

.leftArrow {
    left: -12px;
    border-left: 15px solid var(--greyColor);
    transform: rotate(45deg);
}

.rightArrow {
    top: -10px;
    right: -12px;
    border-right: 15px solid var(--blueColor);
    transform: rotate(45deg);
}